<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569129664643-hq5u3m16pg76vjdmc2nd2oqf5r9cbuna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569129664643-hq5u3m16pg76vjdmc2nd2oqf5r9cbuna</string>
	<key>API_KEY</key>
	<string>AIzaSyBtAWXLfvNcgalaSxkRD-XnwCZJK6lNb2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>569129664643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cms.colossus.aml</string>
	<key>PROJECT_ID</key>
	<string>flutterhome-eeceb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhome-eeceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569129664643:ios:b8cbb8d61650f31ce15bb6</string>
</dict>
</plist>